{% extends "base.html" %}

{% block content %}
        <h1>{{ page_title }}</h1>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-9">
                    <h3>{{ title }}</h3>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="alert alert-warning" role="alert">
                            {{ messages[-1] }}<br>
                        </div>
                        {% endif %}
                    {% endwith %}
                    <br><br>
                    <p>
                    <div class="col-sm-9">
                        <h2>
                    Отправление из: {{ country_dep }} <br><br>
                    Прибытие в: {{ country_arr }}
                        </h2>
                    </p>
                    <h3><a href="{{ url_for('main_page.display') }}">на главную</a></h3>
                </div>
            </div>
{% endblock %}