{% extends "base.html" %}

{% block content %}
        <h1>{{ page_title }}</h1>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-9">
                    <h3>{{ title }}</h3>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="alert alert-warning" role="alert">
                            {{ messages[-1] }}<br>
                        </div>
                        {% endif %}
                    {% endwith %}
                    <br><br>
                    <p>
                    <div class="col-sm-9">
                        <h2>
                    Отправление из: {{ country_dep }} <br><br>
                    Прибытие в: {{ country_arr }} <br><br>
                        </h2>
                    {% if no_data_by_country %}
                        <p>{{ no_data_by_country }}</p>
                    {% else %}
                        <p><b>Как добраться:</b> {{ transportation }}</p>
                        <p><b>Нужна ли виза:</b> {{ visa }}</p>
                        <p><b>Нужно для въезда:</b> {{ conditions }}</p>
                        <p><b>Какие вакцины признаются:</b> {{ vaccine }}</p>
                        <p><b>Что открыто:</b> {{ open_objects }}</p>
                        <p><b>Ограничения:</b> {{ lockdown_restrictions }}</p>
                        </p>
                    {% endif %}
                    <h3><a href="{{ url_for('main_page.display') }}">на главную</a></h3>
                </div>
            </div>
{% endblock %}