{% extends "base.html" %}

{% block content %}
      <h1>{{ page_title }}</h1>
      Привет, {{ user_name }}. Здесь последние 25 ваших запросов.
        <div class="row">
            <div class="col-8">
               {% include "messages.html" %}
               <ol>
                    {% for user_request in all_user_requests %}
                        <li><a href="{{ url_for('user_related.process_country_from_user_request',
                                                 dep=country_to_id_mapping[user_request.country_dep],
                                                 arr=country_to_id_mapping[user_request.country_arr]) }}">
                            Страна отправления: {{ user_request.country_dep }}
                            Страна прибытия: {{ user_request.country_arr }} </a></li>

                    {% endfor %}
                </ol>
            </div>
        </div>
        <div class="row">
            <h4><a href="{{ url_for('main_page.display') }}">новый запрос</a></h4>
        </div>
{% endblock %}