{% extends "base.html" %}

{% block content %}
      <h1>{{ page_title }}</h1>
      привет, {{ user_name }}
        <div class="row">
            <div class="col-8">
               {% include "messages.html" %}
               <ol>
                    {% for i in all_user_requests %}
                        <li><a href="{{ i.country_arr }}">
                            Страна отправления: {{ i.country_dep }}
                            Страна прибытия: {{ i.country_arr }} </a></li>
                                          
                    {% endfor %}
                </ol>
            </div>
        </div>
        <div class="row">
            <h4><a href="{{ url_for('main_page.display') }}">новый запрос</a></h4>
        </div>
{% endblock %}