<!doctype html>
  <html lang="ru">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->  
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

      <title>{{ title }}</title>
    </head>
    <body>
        <div class="container"></div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-9">                    
                    <h2>{{ title }}</h2>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="alert alert-warning" role="alert">
                            {{ messages[-1] }}<br>
                        </div>
                        {% endif %}
                    {% endwith %}
                
                <h4>Зарегистрированные пользователи:</h4>
                <h5>
                {% for user in users %}
                        id {{ user.id }}, логин {{ user.login }} <br>
                {% endfor %}
                </h5>

                    <h3><a href="{{ url_for('display') }}">на главную</a></h3>
                </div>
            </div>
        </div>
    </body>
  </html>