<!doctype html>
  <html lang="ru">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
            
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

      <title>{{ page_title }}</title>
    </head>
      <body>
        <div class="container">
          <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
            <a class="navbar-brand" href="/">Куда поехать</a>
            <ul class="nav navbar-nav navbar-right">
              {% if current_user.is_authenticated %}
              <li><a href="{{ url_for('logout') }}">Выйти</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Войти</a></li>
                {% endif %}
              <li>
                {% if current_user.is_admin %}
                <br>
                <br>
                <a href="admin">Админка</a>
                {% endif %}
              </li>
            </ul>
          </div>
          </nav>
        <h1>{{ page_title }}</h1>
          <div class="row">
            <div class="col-sm-9">
              Привет! Этот сайт поможет вам сориентироваться, куда можно, а куда нельзя. Или что-то в таком роде. Или в другом.
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <div class="alert alert-warning" role="alert">
                      {% for message in messages %}
                          {{ message }}<br>
                      {% endfor %}
                  </div>
                {% endif %}
              {% endwith %}
              <div class="row">
                <div class="col-6 col-sm-6">
                  <form action="{{ url_for('check_signin') }}" method="POST">
                    {{ form.hidden_tag() }}
                    <h3>{{ form.country_dep.label }}:</h3>
                      {{ form.country_dep() }}
                    <h3>{{ form.country_arr.label }}:</h3>
                      {{ form.country_arr() }}
                    <p>
                      {{ form.submit() }}
                    </p>
                  </form>
                </div>
            </div>
          </div>
        </div>
      </body>
  </html>